{{if .DevMode}}
    {{template "debug.html" .}}
  {{end}}

<footer class="footer footer-dark bg-primary" style="height: 10%; padding-top: 0">
    <div class="container" style="height:100%">
        <div class="row align-items-end justify-content-md-between py-4 delimiter-top" style="height: 100%;">
            <div class="col-md-12">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2018 <a href="https://vivvo.com/" class="font-weight-bold" target="_blank">Vivvo Application
                    Studios</a>. All rights reserved.
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Core -->
<script src="/public/vendor/jquery/dist/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/public/vendor/in-view/dist/in-view.min.js"></script>


<!-- Page plugins -->
<script src="/public/vendor/swiper/dist/js/swiper.min.js"></script>
<script src="/public/vendor/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="/public/vendor/typed.js/lib/typed.min.js"></script>


<!-- Theme JS -->

<script src="/public/js/theme.min.js"></script>


</body>

</html>
